* {
  /* outline: 1px solid #ff00ff40; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  font-family: sans-serif;
  text-align: center;

  display: grid;
  grid-template-columns: max-content 1fr;
  overflow-y: auto;

  width: 100%;
  max-width: 768px;
  margin: 0 auto 0 auto;
  padding: 2rem;
}

.grid-3-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-3-up > fieldset {
  margin: 0;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

hr {
  height: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}

canvas {
  display: block;
  background-image: linear-gradient(45deg, #00000040 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #00000040 75%),
    linear-gradient(45deg, transparent 75%, #00000040 75%),
    linear-gradient(45deg, #00000040 25%, #fff 25%);

  background-size: 16px 16px;

  background-position: 0 0, 0 0, -8px -8px, 8px 8px;
}

.preview {
  display: block;
  align-self: center;
  justify-self: center;
}

label {
  display: flex;
  align-items: center;
  margin: 0;
}

label + label,
legend + label {
  margin-top: 0.5rem;
}

button {
  display: block;
  margin: 0.5rem 0;
}

fieldset {
  margin: 0;
  text-align: left;
  padding: 0px;
  border: none;
}

legend {
  display: block;
  font-weight: bold;
  padding: 0px;
}

form {
  max-width: 20em;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  align-self: start;
}

input {
  display: block;
  width: 100%;
}

label > span {
  min-width: 5rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0.25rem;
  padding: 0;
  width: auto;
}

span + input {
  margin-left: 0.25rem;
}

input + span {
  margin-left: 0.25rem;
}

.options-position-grid {
  display: grid;
  grid-template-columns: repeat(3, 1rem);
  grid-auto-rows: 1rem;
  margin: 0.5rem 0;
  align-items: center;
  justify-items: center;
}
